<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Looking for your next web developper ? Check out the professional portfolio of Théo Provost.">

        <title><%= locals.title %></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

<body>