<%- include('partials/head', {title: 'PoC - Charts', js: '<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>'}); %>

<button class="delete is-medium" id="return_btn_index_chart"></button>
<%- include(chart_path) %>

<%- include('partials/footer'); %>